.home {
    width: calc(100vw - 4rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-dark-bg);
    color: white;
}

.home img {
    width: 700px;
    aspect-ratio: 1.29 / 1;
    object-fit: cover;
    object-position: center;
}


.home span {
    color: var(--color-accent);
    font-style: italic;
}

.home p {
    width: 700px;
}

.home-greeting span {
    color: var(--color-username);

}